@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
.anim-box {
  border-radius: 10px;
  max-width: 1000px;
  height: 900px;
  background-color: rgb(0, 58, 145);
  color: rgb(255, 255, 255);
  }
  .anim-box.zoomin.is-animated {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }
  .box-animate {
  animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }

  @keyframes zoomIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

h1 {
    font-family: "Noto Sans JP";
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    }
h2 {
    font-family: "Noto Sans JP";
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    }            
a {
    font-family: "Noto Sans JP";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
label {
    font-family: "Noto Sans JP";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
footer {
    font-family: "Noto Sans JP";
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.dashed {
    border-style: dashed;
  }
  .bold {
    border-width: 2.5px;
  }
  .text {
    width: 400px; font-size: 5px; flex-direction: column; text-align: center;
  }
  .text1 {
    width: 100px; font-size: 5px; flex-direction: column; text-align: center; color: black;
  }
  .plantet {
   background-color: rgba(255, 255, 255, 0.5);
  }
  .vector,
  [class*=vector-] {
      border: 0.1px solid rgb(75, 51, 0)
  }
  .orbit,
  [class*=orbit-] {
    border: 0.1px solid rgba(255, 255, 255, 0.5)
  }
  